{% extends 'codeq/codeq_base.html' %}
{% load staticfiles %}
{% block content %}
  {% if user.is_authenticated %}

  <div class="card w-100 p-2 bg-light">
    <div class="row">
      <div class="col-md-8" style="padding-left:5%;">
        <h2 class="text-primary">@{{ user.username }}</h2>
        <h5>First Name : {{ user.first_name }}</h5>
        <h5 style="margin-top:2%; margin-bottom:2%; ">Last name : {{ user.last_name }}</h5>
        <h5>Email Address : {{ user.email }}</h5>
      </div>
      <div class="col-md-4 text-center">
        <a class="btn btn-outline-dark ml-4 w-75 p-2 m-2" href="{% url 'account:edit_profile'%}">Edit <i class="fas fa-user-edit"></i></a>
        <a class="btn btn-outline-danger ml-4 w-75 p-2 m-2" href="{% url 'account:deleteAccount' user.id %}">Delete Account <i class="fas fa-user-minus"></i></a>
      </div>
    </div>
  </div>

  <h2 class="text-white p-2 card bg-dark text-center my-2">Questions</h2>
    {% for question in question_list %}
      {% if user.username == question.question_user.username %}
      <div class="row m-1">
        <div class="card p-2 w-100 m-2 bg-light">
          <h5>
            <a href="{% url 'codeq:question_detail' slug=question.slug %}">
              {{ question.question }}
            </a>
          </h5>
          <h6>
            {{ question.question_user }}
          </h6>
          <p class="text-secondary">
            {{ question.question_time }}
          </p>
          <p>
            <span class="badge badge-success">
                Answers : {{ question.answers.count }}
            </span>
          </p>
        </div>
      </div>
      {% endif %}
    {% endfor %}

  {% endif %}
{% endblock %}
