{%  extends 'account/account_base.html' %}

{% load bootstrap4 %}

{% block content_head %}
	<title>{{ user.username }} - Edit </title>
{% endblock %}

{% block content_body %}
<body class="bg-grad-10 font-style-6">
	<div class="container-fluid font-style-4">
    <div class="row p-4">
      <div class="col-8">
        <a href="{% url 'home' %}" class="text-light" style="text-decoration:none;">
  		    <i class="fas fa-home" style="font-size:1.5em;"></i>
        </a>
      </div>
      <div class="col-4 text-right">
          <a class="btn btn-outline-warning" href="{% url 'account:profile' %}"> BlogPics-Profile</a>
          <a class="btn btn-outline-dark" href="{% url 'account:codeq_profile' %}"> CodeQ-Profile</a>
        </div>
      </div>
  </div>
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="card p-4">
				<form method="POST" enctype="multipart/form-data" >
					{% csrf_token %}
					{% bootstrap_form form %}
					<a href="{% url 'account:change_password' %}" class="btn btn-info">Change Password</a>
					<input type="submit" class="btn btn-success" value='Update'>
				</form>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
</body>
{% endblock %}
