{% extends 'account/account_base.html' %}

{% block content_head %}
  <title>
    Reset Complete
  </title>
{% endblock %}

{% block content_body %}

<body class="bg-grad-5">
  <div class="container">
    <h1 style="color:transparent;">
      Welcome to BlogPics
    </h1>
    <div class="card text-center p-4">
      <h2 class='text-success'>
        Your Account Password reset Successfully..!
      </h2>
      <h1>
        <a class="btn btn-danger" href="{% url 'accounts:login' %}">
          Login
        </a>
      </h1>
      <h2>
        <a class='btn btn-outline-success' href="{% url 'home' %}">
          Go to HomePage
        </a>
      </h2>
    </div>
  </div>
</body>

{% endblock %}
